
.Title {
    text-align: center;
    
}

.Title h2 {
    text-align: center;
    font-size: 50px;
    position:relative; top:50px; right:10px; left:15px;
}
.Title h3 {
  text-align: center;
  font-size: 12px;
  color: #778899;
  position:relative; top:0px; right:10px; left:15px;
}

/*
.loginPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monstserrat, sans-serif;
  font-size: 14px;
  color: black;
}
*/

form.signLink a{

    color:#007bff;
    text-align: left; 
    font-size: 20px;

}

.input-container label {
  align-items: center; /* Align labels and inputs vertically */
  font-size: 18px;
  position:absolute; left:25px;
}

.label-container label {
    width: 100px;
    text-align: left; 
    margin-right: 10px;
    font-size: 18px;
}


 
 

.inputIcon {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.input-icon .material-icons {
    position: absolute;
    left: 10px; /* Adjust the left value to control the icon's position */
    font-size:65px; /* Icon size */
  }

 .login input {
    text-align: left;
    width: 600px;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    transition: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    


  }

  /* Style for the login button */
.login button {
    background-color: #007bff;
    text-align: center;
    color: white;
    padding: 20px 20px;
    border: black, 1px;
    border-radius: 5px;
    cursor: pointer;
    width: 650px;
    margin-top: 10px;
    font-size: 20px;
    position:absolute; bottom: -5px;
  }

.input-container {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.signup, form.login {
    display: block;
    position: relative;
    max-width: 650px;
    margin: 40px auto;
    padding: 75px;
    background: white;
    border-width: 100%;
    border: 1px solid black;
    align-items: stretch; /* Center content horizontally */

    display: flex;
   flex-direction: column;
   align-items: center; /* Center content horizontally */
   justify-content: center; /* Center content vertically */
   height: 100%;
}

.form-inner .form-group:focus-within login {
    color: #1E90FF;
}


