.list-column .css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-weight: bold; /* Set font-weight to normal to remove bold */
}

.list-column .css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background-color: #edeaea;
}

.center-data-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* You can adjust this as needed */
}
